html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@font-face {
  font-family: LordOfTheRings; src: url("./assets/Middleearth-ao6m.ttf");}
@font-face { font-family: LordOfTheRings; font-weight: bold; src: url('./assets/Middleearth-ao6m.ttf');}

/* Global styles  */

* { 
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: LordOfTheRings;
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
}

h3 {
  margin: 0;
}

.header-ring {
  color: goldenrod;
  font-size: 6rem;
  padding-bottom: 25px;
}

header {
  background-image: url(./assets/lotr_background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.header-content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  min-height: 50vh;
  /* background-color: #152f2c; */
  background-color: #bcbcdb;
}

.menu-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 35px;
}

select {
  font-family: LordOfTheRings;
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  width: 350px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  border: solid 3px white;
}

select:hover,
select:focus {
  border: solid 3px goldenrod;
}

.randomizer {
  border-radius: 10px;
  border: solid 3px white;
  background-color: white;
  font-family: LordOfTheRings;
  font-size: 2rem;
  padding: 10px;

}

.randomizer:hover,
.randomizer:focus {
  border: solid 3px goldenrod;
  cursor: pointer;

}

.results-wrapper {
  color: black;
  font-family: LordOfTheRings;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0 25px 0;
}

.results-text-wrapper {
  max-width: 60%;
}

.photo-container {
  max-width: 40%;
  margin-right: 40px;
}

.photo-container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.movie-title-container {
  font-family: LordOfTheRings;
  font-size: 2rem;
  padding-top: 20px
}

footer {
  font-family: LordOfTheRings;
  font-size: 25px;
  background-color: black;
  color: goldenrod;
  text-align: center;
  padding: 25px 0;
}

footer a:hover,
footer a:focus {
  color:white;

}


@media (max-width: 985px) {
  .results-wrapper {
    justify-content: center;
  }

  .quote-container {
    padding-top: 20px;

  }

}
 
@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 4rem;
  }

  .photo-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

}

@media (max-width: 480px) {

  header {
    background-image: none;
    background-color: goldenrod;

  }
  

  .header-ring {
    color: black;

  }


  .quote-container {
    font-size: 20px;
  }

  footer p {
    font-size: 2rem;
  }

}